
<%if @characters == []%>
  <h1>No Order of the Phoenix Members for selected house</h1>
<%else%>
  <h2>Order of the Phoenix Members for <%=@characters.first.house%></h2>
  <h3><%=@characters.length%> Total Members</h3>

  <%@characters.each do |character|%>
    <h4><%=character.name%></h4>
    <p><%=character.house%></p>
    <p><%=character.role%></p>
    <p><%=character.patronus%></p>
    <br>
  <%end%>
<%end%>
